 /* reset */

.name{padding:7px 20px 0;height:18px;line-height:18px;overflow: hidden;}
.author{padding:0 20px;height:24px;line-height:24px;overflow: hidden;color:#aaa;}
.price{padding-left:20px;line-height:16px;overflow: hidden;font-family:"Arial";font-size:14px;position:relative;height:36px;}



/*-----start-responsive-design------*/
@media (max-width:1440px){
.message.warning {
		margin: 11% auto 0;
		width: 30%;
	}
	.footer {
	left: 44%;
	}
}


