<!DOCTYPE html>

{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href='/static/css/style.css' type="text/css" >

   <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
<link rel="stylesheet" type="text/css" href="/static/rs-plugin/css/settings.css" media="screen" >

<!-- StyleSheets -->
<link rel="stylesheet" href="/static/css/ionicons.min.css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/main.css">
<link rel="stylesheet" href="/static/css/style.css">
<link rel="stylesheet" href="/static/css/responsive.css">

{% block loginregister %}{% endblock %}
<!-- JavaScripts -->
<script src="/static/js/vendors/modernizr.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
{#    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>#}
{#    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>#}
<![endif]--> 


    <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    


</head>
<body>
    {% include "header.html" %}
{#    {% if usernow %}#}
{#        欢迎: {{ usernow }}#}
{#    {% endif %}#}
    {% block content %}{% endblock %}
    <hr>
    {% include "footer.html" %}

    <!-- JavaScripts --> 
<script src="/static/js/vendors/jquery/jquery.min.js"></script>
<script src="/static/js/vendors/wow.min.js"></script>
<script src="/static/js/vendors/bootstrap.min.js"></script>
<script src="/static/js/vendors/own-menu.js"></script>
<script src="/static/js/vendors/jquery.sticky.js"></script>
<script src="/static/js/vendors/owl.carousel.min.js"></script>

<!-- SLIDER REVOLUTION 4.x SCRIPTS  --> 
<script type="text/javascript" src="/static/rs-plugin/js/jquery.tp.t.min.js"></script>
<script type="text/javascript" src="/static/rs-plugin/js/jquery.tp.min.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>