<!--header.html!-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">网上书店</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cart-url' %}">查看购物车</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">查看订单</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if usernow %}
                {{ usernow }}
            {% else %}
                个人信息
            {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if usernow %}
          <a class="dropdown-item" href="{% url 'logout' %}">注销</a>
          {% else %}
          <a class="dropdown-item" href="{% url 'login' %}">登录</a>
          <a class="dropdown-item" href="{% url 'register' %}">注册</a>
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
</nav>