<!-- header.html -->
<div class="top-bar">
    <div class="container">
      <p>Welcome to SmartTech center!</p>
      <div class="right-sec">
        <ul>
            {% if usernow %}
                <li><a href="{% url 'login' %}">{{ usernow }}</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login/Register </a></li>
            {% endif %}
          <li><a href="#.">Store Location </a></li>
          <li><a href="#.">FAQ </a></li>
          <li><a href="#.">Newsletter </a></li>
          <li>
            <select class="selectpicker">
              <option>French</option>
              <option>German</option>
              <option>Italian</option>
              <option>Japanese</option>
            </select>
          </li>
          <li>
            <select class="selectpicker">
              <option>(USD)Dollar</option>
              <option>GBP</option>
              <option>Euro</option>
              <option>JPY</option>
            </select>
          </li>
        </ul>
        <div class="social-top"> <a href="#."><i class="fa fa-facebook"></i></a> <a href="#."><i class="fa fa-twitter"></i></a> <a href="#."><i class="fa fa-linkedin"></i></a> <a href="#."><i class="fa fa-dribbble"></i></a> <a href="#."><i class="fa fa-pinterest"></i></a> </div>
      </div>
    </div>
  </div>
  
  <!-- Header -->
  <!-- 搜索框的目录 -->
  <header>
    <div class="container">
      <div class="logo"> <a href="index.html"><img src="/static/images/logo.png" alt="" ></a> </div>
      <div class="search-cate">
        <select class="selectpicker">
            <option> 书名搜索</option>
            <option> 出版社搜索</option>
            <option> 作者搜索</option>
        </select>
        <input type="search" placeholder="Search entire store here...">
        <button class="submit" type="submit"><i class="icon-magnifier"></i></button>
      </div>

      <!-- Cart Part -->
      <ul class="nav navbar-right cart-pop">
        <li class="dropdown"> <a href={% url 'cart-url' %} class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="itm-cont">{{ carts.count }}</span> <i class="flaticon-shopping-bag"></i> <strong>My Cart</strong> <br>
          <span>{{ carts.count }} item(s) - ￥{{ carts.summary }}</span></a>
          <ul class="dropdown-menu">
              {% for item in carts %}
              <li>
                <div class="media-body"> <a href="{% url 'bookinfo'  item.product.id  %}" class="tittle"></a> <span>{{ item.product.name }}</span> </div>
              </li>
              {% endfor %}
            <li class="btn-cart"> <a href="{% url 'cart-url' %}" class="btn-round">View Cart</a> </li>
          </ul>
        </li>
      </ul>
    </div>

    <!-- Nav -->
    <!-- 导航栏的分类 -->
    <nav class="navbar ownmenu">
      <div class="container" id="c1">

        <!-- Categories -->
        <div class="cate-lst"> <a  data-toggle="collapse" class="cate-style" href="#cater"><i class="fa fa-list-ul"></i> 图书分类 </a>
          <div class="cate-bar-in">
            <div id="cater" class="collapse">
              <ul>
{#                  传入category参数，然后放置两层吧#}
                  <li><a href="#">小说</a></li>
                  <li class="sub-menu"><a href="#">文艺</a>
                    <ul>
                      <li><a href="#">文学</a></li>
                      <li><a href="#">传记</a></li>
                      <li><a href="#">艺术</a></li>
                      <li><a href="#">摄影</a>
                    </ul>
                  </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Navbar Header -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-open-btn" aria-expanded="false"> <span><i class="fa fa-navicon"></i></span> </button>
        </div>
        <!-- NAV -->
        <div class="collapse navbar-collapse" id="nav-open-btn">
          <ul class="nav">
            <li><a href="{% url 'index' %}"> 首页 </a></li>
			<li><a href="{% url 'listbooks' %}"> 图书列表 </a></li>
            <li><a href="{% url 'cart-url' %}"> 购物车 </a></li>
            <li><a href="About.html"> 关于 </a></li>
            <li><a href="contact.html"> 联系我们 </a></li>
          </ul>
        </div>

        <!-- NAV RIGHT -->
        <div class="nav-right"> <span class="call-mun"><i class="fa fa-phone"></i> <strong>Phone:</strong> (+100) 123 456 7890</span> </div>
      </div>
    </nav>
  </header>