{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE HTML>
{% block title %}登录界面{% endblock %}
{% block content %}


    <div class="tab-content-inner" data-content="login">
		<form role="form" action="" enctype="multipart/form-data" method="post">
            {% csrf_token %}

			<div class="row form-group">
				<div class="col-md-3" style="margin-left: 35%;margin-top: 10%">
					{% if usernow %}
                        <label>用户已登录</label>
                        <input type="text" class="form-control" disabled="disabled" placeholder="{{ usernow }}">
                    {% else %}
                        <label for="username">Username or Email</label>
					    <input type="text" class="form-control" id="username" name="username">
                    {% endif %}
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-3" style="margin-left: 35%">
                    {% if usernow %}
                    {% else %}
					    <label for="password">Password</label>
					    <input type="password" class="form-control" id="password" name="password">
                    {% endif %}
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-3" style="margin-left: 35%">
					{% if usernow %}
                        <button onclick="location.href='{% url 'logout' %}'" type="button" class="btn">logout</button>
                    {% else %}
					    <button type="submit" onclick="location.href='{% url 'login' %}'" class="btn btn-primary btn-lg">Login</button>
                        <button onclick="location.href='{% url 'register' %}'" type="button" class="btn">register</button>
                    {% endif %}

				</div>
			</div>
		</form>
	</div>

{% endblock %}